+ Pandas very column oriented.
+ It uses numpy internally.
+ read_csv can read csvs from online or or from local path as well.
+ It assumes the first row as column header by default.
+ head() for top results and tail() for results from the bottom, sample() for random results from the dataframe.
+ shape tells us the dimensions of the dataframe.
+ columns for assigning our own columns.
+ dtypes tells type of data in datatframe columns.
+ describe: VImp function, it gives insights for float type data. Can change percentiles by mentioning in arguments.
+ it works with columns rather than rows. So iris[0] doesn't work but iris['sw']/iris.sw give the columns. By default pandas works with columns.
+ iris['sw][1] column ka name first followed by row no.
+ iloc works more like the way we think row followed by column.
+ np.nan represents missing values.
+ Never set missing values based on output. One has to use same strategies for training data and actual data on which we require predictions.
+ fillna is used to fill NaN values but it doesnt put those values in place of actual values, which is why we need inplace = True as option.
+ Single column of a Dataframe is a series.
+ iris.mean() gives mean of all individual columns.
+ iris.dropna() drops rows with NaN values.
+ iris.reset_index() for new index, drop=True drops existing index, also we need to use inplace = True.
+ .index for indices of query.
+ .tolist() to make  a list of a series.
+ the iris[type == 'Iris Setosa'] will again be a data frame whose statistics may be derived from describe.
+ del iris['sl] deletes the column for Sepal length.
+ iris['abc'] = iris.sw = Creates a copy of that column and adds as new column into dataframe.

In [4]:
import pandas as pd
import numpy as np

iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header = None)
# iris = data object

AttributeError: 'DataFrame' object has no attribute 'type'

In [57]:
total = iris.describe()
type(total)
total
iris.columns = ['sw','sl','pw','pl','type']
iris.head()


setosa = iris[iris.type=='Iris-setosa']
setdes = setosa.describe()
setMean = setdes.iloc[1].tolist
setMean

versicolor = iris[iris.type=='Iris-versicolor']
virginica = iris[iris.type=='Iris-virginica']
iris.type.unique()
vcdes = versicolor.describe()
virdes = virginica.describe()

print(vcdes)
print(virdes)
print(setdes)

              sw         sl         pw         pl
count  50.000000  50.000000  50.000000  50.000000
mean    5.936000   2.770000   4.260000   1.326000
std     0.516171   0.313798   0.469911   0.197753
min     4.900000   2.000000   3.000000   1.000000
25%     5.600000   2.525000   4.000000   1.200000
50%     5.900000   2.800000   4.350000   1.300000
75%     6.300000   3.000000   4.600000   1.500000
max     7.000000   3.400000   5.100000   1.800000
             sw         sl         pw        pl
count  50.00000  50.000000  50.000000  50.00000
mean    6.58800   2.974000   5.552000   2.02600
std     0.63588   0.322497   0.551895   0.27465
min     4.90000   2.200000   4.500000   1.40000
25%     6.22500   2.800000   5.100000   1.80000
50%     6.50000   3.000000   5.550000   2.00000
75%     6.90000   3.175000   5.875000   2.30000
max     7.90000   3.800000   6.900000   2.50000
             sw         sl         pw        pl
count  50.00000  50.000000  50.000000  50.00000
mean    5.00600   3.418000   1.464000   0.24400
std     0.35249   0.381024   0.173511   0.10721
min     4.30000   2.300000   1.000000   0.10000
25%     4.80000   3.125000   1.400000   0.20000
50%     5.00000   3.400000   1.500000   0.20000
75%     5.20000   3.675000   1.575000   0.30000
max     5.80000   4.400000   1.900000   0.60000

In [24]:
iris.head()

    sw   sl   pw   pl         type
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa